* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f1f1f;
    color: #f1f1f1;
    overflow-y: auto;
    overflow-x: hidden;
}

.container {
    width: max(400px, 50%);
    height: max(600px, 80%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    background-color: #bdbdbd;
    box-shadow: 0 0 10px #0f0f0f;
    padding: 2rem;
    gap: 1rem;
}

.task-control {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.task-input {
    width: 80%;
    padding: 0.7rem;
    border: none;
    border-radius: 5px;
    background-color: #a1a1a1;
    color: #1d1d1d;
    font-size: 1.5rem;
    margin-right: 1rem;
    outline: none;
}

.add-task {
    padding: 1rem 1.5rem;
    width: max(5rem , 20%);
    border: none;
    border-radius: 5px;
    background-color: #008552;
    color: #f1f1f1;
    font-size: 1rem;
    cursor: pointer;
}

.task-center {
    width: 80%;
    height: 100%;
    overflow-y: auto;
    border-radius: 5px;
    scrollbar-width: none;
    padding-bottom: 1rem;
}

.single-task {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    border-radius: 5px;
    background-color: #a1a1a1;
    color: #1d1d1d;
    font-size: 1rem;
    gap: 0.8rem;
    margin-top: 1rem;
    position: relative;
    padding-bottom: 3rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.task-content {
    font-size: 1rem;
}

.delete-task {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    background-color: #ff4d4d;
    color: #f1f1f1;
    font-size: 1rem;
    cursor: pointer;
    margin-left: 1rem;
    position: absolute;
    right: 0.5rem;
    bottom: 0.2rem;
}

.edit-task {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    background-color: #008552;
    color: #f1f1f1;
    font-size: 1rem;
    cursor: pointer;
    margin-left: 1rem;
    position: absolute;
    right: 6rem;
    bottom: 0.2rem;
}

.task-date {
    font-size: 1rem;
    color: #6b6b6b;
    position: absolute;
    left: 0.5rem;
    bottom: 0.2rem;
}